<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone_SewaIn"
        tools:targetApi="31">
        <activity
            android:name=".Checkout"
            android:exported="false" />
        <activity
            android:name=".DetailBarangUser"
            android:exported="false" />
        <activity
            android:name=".admintoko.DetailPesanan"
            android:exported="false" />
        <activity
            android:name=".admintoko.DetailBarang"
            android:exported="false" />
        <activity
            android:name=".admintoko.TambahProduk"
            android:exported="false" />
        <activity
            android:name=".admintoko.ProfilToko"
            android:exported="false"
            android:label="@string/title_activity_profil_toko" />
        <activity
            android:name=".profile.EditProfil"
            android:exported="false" />
        <activity
            android:name=".profile.UserProfil"
            android:exported="false" />
        <activity
            android:name=".admintoko.VerfiyTokoActivity"
            android:exported="false" />
        <activity
            android:name=".admintoko.RegisterToko"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>